{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "docker",
          "bash",
          "markup",
          "yaml",
          "jsx",
          "tsx",
          "typescript",
          "markdown",
          "gdscript"
        ],
        "plugins": [
          "line-numbers"
        ]
      }
    ]
  ]
}